body {
	font-family: "adelle-sans", sans-serif;
	font-weight: 100;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}
a {
	color: #A1B373;
	transition: color 0.1s;
	text-decoration: none;
}
a:hover {
	color: #B6CC79;
}

/* #home */
#home section {
	margin: 4em 0;
}
#home #intro {
	text-align: center;
}
#home #posts {
	width: 80%;
	margin: auto;
}
#home h1 {
	font-size: 3em;
	color: #6A85B3;
	margin: 0;
}
#home h2 {
	opacity: 0.5;
	font-size: 1.75em;
}
#home p {
	font-size: 2em;
	opacity: 0.75;
	margin: 0;
}
#home ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#home ul li {
	font-size: 1.25em;
}
#home em {
	font-style: normal;
	font-weight: 400;
}
#home time {
	font-size: 0.75em;
	opacity: 0.5;
	transition: opacity 0.5s;
}
@media (max-width: 550px) {
	#home #intro {
		border-bottom: 1px solid #B6CC79;
		padding-bottom: 4em;
		margin-bottom: 2.5em;
		font-size: 0.65em;
	}
}

/* header */
header {
	padding: 2.25em 0;
	width: 80%;
	margin: 0 auto;
}
header h1 {
	margin: 0;
}
header h2 {
	margin: 0;
	opacity: 0.5;
}
header nav {
	margin-top: 2em;
}
header nav ul {
	padding: 0;
}
header nav ul li {
	margin: 0.25em 0;
	font-size: 1.25em;
}

/* article */
article {
	padding: 1.5em 8em 4em 2em;
}
article h1 {
	font-size: 4em;
	margin-top: 0;
	margin-left: -0.05em;
	color: #6A85B3;
}
article p.byline {
	position: absolute;
	margin-top: -3em;
	opacity: 0.4;
	font-size: 0.9em;
}
article p.byline a {
	color: #000;
}
article h2 {
	color: #94ADD6;
}
article p {
	line-height: 1.7em;
}

/* RESPONSIVE stack */
@media (max-width: 767px) {
	header {
		padding: 1em;
		width: auto;
		border-bottom: 1px solid #B6CC79;
	}
	header h1 {
		font-size: 1.7em;
		display: inline-block;
		margin-right: 0.25em;
	}
	header h2 {
		font-size: 1.3em;
		display: inline-block;
	}
	header nav {
		clear: left;
		display: none;
	}
	article {
		padding: 1em;
	}
	article p {
		font-size: 1.2em;
	}
}
