---
---

body {
  font-family: "Arial";
  font-size: 14px;
}

#container {
  text-align: center;

  img {
    border-radius: 5%;
    max-width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin: auto 0.5em;
    }
  }
}
