/* POST styles */
article {
  padding: 1.5em 7em 4em 2em;
  font-size: 1.3em;
  
  h1 {
    font-size: 3em;
    margin: 0 0 0 -0.08em;
  }
  p {
    line-height: 1.8em;
    
    code {
      font-family: "source-code-pro", monospace;
      font-weight: 300;
      font-size: 0.9em;
      background-color: darken(white, 2%);
      border: 1px solid darken(white, 5%);
      padding: 0 0.3em;
      margin: 0.1em;
      border-radius: 0.3em;
    }
  }
  ul {
    &.meta {
      margin: 0 0 3em;
      padding: 0;
      list-style: none;
      
      li {
        margin-right: 0.5em;
        float: left;
      }
    }
  }
  .body { clear: left; }
}

/* responsive */
@media (max-width: 767px) {
  article {
    padding: 1em;
    font-size: 1.1em;
    
    h1 { font-size: 2.5em; }
  }
}
