<!DOCTYPE HTML>
<html prefix="og:http://ogp.me/ns#">
<head>
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:image" content="{{ site.url }}/img/portrait@2x.png">
  {% include head.html %}
</head>
<body>
  <section id="portrait">
    <div id="me"></div>
  </section>
  <section id="intro">
    {{ content }}
  </section>
  <section id="posts">
    <h2>Latest Posts</h2>
    <dl>
      {% for post in site.posts %}
      <dt><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></dt>
      <dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
      {% endfor %}
    </dl>
  </section>
</body>
</html>
